matplotlib
notebook>=7.2.2
torch>=2.3
torchvision>=0.18
numpy>=2
pandas
scikit-image>=0.24.0
scikit-learn>=1.5.1
scipy>=1.13.1
nbstripout
tqdm>=4.66.5
openml
transformers>=5
ipywidgets
gdown
torchviz
openai>=1.55
gensim>=4.4
datasets